body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.section {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
  background: 0 0 / contain transparent;
}
